0 0 * * * root /usr/local/crawler/run_crawler.sh items >> /var/log/cron.log 2>&1
4 0 * * * root /usr/local/crawler/run_crawler.sh heroes >> /var/log/cron.log 2>&1
8 0 * * * root /usr/local/crawler/run_crawler.sh leagues >> /var/log/cron.log 2>&1
0 1 * * * root /usr/local/crawler/run_crawler.sh teams >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
